:root{
    --color-white: #FDFEFE;
    --color-dark: #263253;
    --color-purple: #4C63A7;
    --color-purple2: #7085B5;
    --color-gray: #9b9b9b;
}
body{
    background-color: var(--color-white);
    padding: 0;
    margin: 0;
    font-family: 'Space Mono', monospace;
}
.header{
    margin-top: 8px;
    text-align: center;
}
.main{
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 24px;
}
.container-img{
    width: 65%;
    padding: 0;
}
.container-img img{
    width: 100%;
    height: 85vh;
}
.container-text{
    width: 380px;
    padding: 24px;
}
.container-text h1{
    color: var(--color-dark);
    font-size: xx-large;
}
.container-text p{
    color: var(--color-gray);
}
.box{
    width: 200px;
    background-color: var(--color-purple2);
    height: 28px;
    border-radius: 12px;
    text-align: center;
    color: var(--color-white);
    padding: 4px;
}
.homepage-button{
    background-color: var(--color-purple);
    margin-top: 24px;
    margin-bottom: 12px;
    border: none;
    border-radius: 8px;
    color: var(--color-white);
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    height: 48px;
    font-size: 18px;
}
.help-center{
    text-align: center;
}
.help-center a{
    text-decoration: none;
    color: var(--color-purple);
}
.footer{
    text-align: center;
    color: var(--color-gray);
}

@media (max-width: 640px){
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container-img{
        width: 100%;
        padding: 0;
    }
    .container-img img{
        width: 300px;
        height: 220px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .container-text{
        width: 100%;
        padding: 24px;
 
    }
    
}